body {
    background-color: azure; 
}

input {
 display: inline-block;
 margin-top: 3px;
 margin-bottom: 3px; 
}

#textBox {
 margin-left: 3.8em;
 width: 135px;   
}

h2 {
 font-size: 40px Verdana;
}

#buttonPress {
 font-size: 24px Lucida;
 height: 34px;
 font-weight: bold;
 border-radius: 5px;   
}

#space {
 margin-left: 8em;
}

.container1 {
 
 height: auto;
 width: 230px;
 float: left;
}

.length {
 width: 200px;
}