body {background-color: #FFC;
    margin-left: auto;
    margin-right: auto;
    width: 75%;}

table {border-collapse: collapse;}

#home td { border-bottom: thin solid black; padding: 15px; }
#nav td {width: 20%; padding: 12px; }

label { float: left;
	width: 100px; 
	text-align: right; 
	padding-right: 10px;
	margin-top: 10px;
}

input, textarea { margin-top: 10px; }

#mySubmit { margin-left: 110px;
           padding-bottom: 10px; }