
      <!--Script 3.3 - footer.html-->
        </div>
      <footer class="footer">
         <div class="container">
            <p class="text-muted">
                <p>Copyright &copy; 2017</p>
         </div>
      </footer>
      </body>
</html>