aside, article, section, header, footer, nav {
    display: block;
}

html { 
    background: rgba(122, 143, 127, 1);
}

body {
    background-color: rgb(237, 228, 214);
    margin: 0 auto;
    width: auto;
    min-width: 660px;
    max-width: 1800px;
    font: 100% Georgia, "Times New Roman", Times, serif;
}

header {
    background: rgb(76, 67, 65);
    margin-bottom: 20px;
}

header h1 {
    font: normal 2em Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    line-height: 4em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0; 
}

nav {
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav a { 
    padding: 1em; 
    font: normal 1em Arial, Helvetica, sans-serif;
}

a:link, a:visited {
    color: rgb(76, 67, 65);
}

form {
    display: inline;
    padding: 1em;
}

input {
    padding: .5em;
}

table { 
    margin-left: 50px;
    margin-right: 50px;
    width: 80%;
    padding: .5em;
}

td {
    padding: .15em .15em 1.00em .15em;
    text-align: left;
    width: auto; 
}

th {
    text-align: center; 
}

caption {
    font-size: 120%; 
    font-weight: bold;
}

main {
    padding: 1em; 
}

tr {
    width: auto;
}

.container1 {
    height: auto;
    width: 230px;
    font-size: 30%; 
    float: left;
   }

#SpecialDiv {
    width: 100%;
}