.Submit {
    margin: 13px; 
    padding: 8px;
    background-color: lime;
    border-radius: 10px; 
    cursor: pointer; 
}

input {
     display: inline-block;  
}

 #name {
    margin-left: 168px; 
    margin-bottom: 8px; 
}

 #email {
    margin-left: 30px; 
}

